<div class="container">
  <div class="row">
    <app-nav *ngIf="!device"></app-nav>
      <div class="contacts">
        <div class="contacts-wrap">
          <p class="contacts-title">Contacts:</p>
          <ul class="link-wrap">
            <li class="link-wrap__item link-wrap__item--first">
              <a href="https://github.com/konstantine811" target="content" class="link-wrap__inner">
                <div class="link-image">
                  <img src="./assets/img/link/github.png" alt="" class="link-image__inner link-image__inner--first">
                </div>
                <span class="link-text">My Github</span>
              </a>
            </li>
            <li class="link-wrap__item link-wrap__item--second">
                <a href="https://www.linkedin.com/in/%D0%BA%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D0%BD%D1%82%D0%B8%D0%BD-%D0%B0%D0%B1%D1%80%D0%B0%D0%BC%D0%BA%D0%B8%D0%BD-959584142/" target="content" class="link-wrap__inner">
                  <div class="link-image">
                    <img src="./assets/img/link/linkedin.png" alt="" class="link-image__inner link-image__inner--second">
                  </div>
                  <span class="link-text">Linkedin</span>
                </a>
              </li>
              <li class="link-wrap__item link-wrap__item--third">
                  <a href="https://www.facebook.com/constaine.abrams" target="content" class="link-wrap__inner">
                    <div class="link-image">
                      <img src="./assets/img/link/facebook.jpg" alt="" class="link-image__inner link-image__inner--third">
                    </div>
                    <span class="link-text">Facebook</span>
                  </a>
                </li>
          </ul>
        </div>
      </div>
  </div>
</div>