<div class="container" scroll-attr>
    <app-social-link></app-social-link>
    <div class="row row-right">
        <app-nav *ngIf="device"></app-nav>
    </div>
    <div class="row">
        <div class="container-portfolio">
            <ul class="container-portfolio__wrap">
                <li class="portfolio-item">
                    <div class="item-wrap">
                        <img src="./assets/img/portfolio/black-bird.png" alt="" class="portfolio-item__image">
                        <div class="page-link">
                            <a href="https://konstantine811.github.io/fashion/" target="content" class="page-link__inner">link</a>
                        </div>
                    </div>
                </li>
                <li class="portfolio-item">
                    <div class="item-wrap">
                        <img src="./assets/img/portfolio/landing-portfolio.png" alt="" class="portfolio-item__image">
                        <div class="page-link">
                            <a href="https://konstantine811.github.io/abrams.github.io/" target="content" class="page-link__inner">link</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>