<nav *ngIf='desktop' class="navigation navigation-desktop">
    <div class="navigation-desktop__wrap" [class.navigation-desktop__wrap--black]='colorNav'>
        <button [routerLink]="['/home']"  [routerLinkActive]="['is-active']"  class="navigation__link navigation-desktop__link" [class.no-opacity]="opacity" [class.navigation-desktop__link--animate]="animate">Home</button>
        <button [routerLink]="['/skills']" [routerLinkActive]="['is-active']"  class="navigation__link navigation-desktop__link" [class.no-opacity]="opacity" [class.navigation-desktop__link--animate]="animate">Skills</button>
        <button [routerLink]="['/portfolio']" [routerLinkActive]="['is-active']"   class="navigation__link navigation-desktop__link" [class.no-opacity]="opacity" [class.navigation-desktop__link--animate]="animate">Portfolio</button>
     </div> 
 </nav>
 <nav *ngIf='!desktop' class="navigation navigation-mobile">
    <div class="navigation-mobile__wrap" [class.navigation-desktop__wrap--black]='color'>
        <button [routerLink]="['/home']"  [routerLinkActive]="['is-active-mobile']"  class="navigation__link navigation-mobile__link">
            <div class="content-button">
                <span class="icon-home"></span>Home
            </div>
        </button>
        <button [routerLink]="['/skills']" [routerLinkActive]="['is-active-mobile']"  class="navigation__link navigation-mobile__link">
            <div class="content-button">
                <span class="icon-skills"></span> Skills
            </div>
        </button>
        <button [routerLink]="['/portfolio']" [routerLinkActive]="['is-active-mobile']"   class="navigation__link navigation-mobile__link">
            <div class="content-button">
                <span class="icon-portfolio"></span> Portfolio
            </div>
        </button>
    </div> 
</nav>