<nav class="navigation">
    <div class="navigation__wrap" [class.navigation__wrap--black]='color'>
        <button (click)="goTo('./home')" class="navigation__link" [class.navigation__link--animate]="animate">Home</button>
        <button (click)="goTo('./skills')" class="navigation__link" [class.navigation__link--animate]="animate">Skills</button>
        <button (click)="goTo('./portfolio')" class="navigation__link" [class.navigation__link--animate]="animate">Portfolio</button>
     </div> 
 </nav>