@import '../../../assets/style/_var';
@import '../../../assets/style/responsive/_responsive';

:host {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.navigation-desktop {
    margin-top: 0;
    margin-right: 200px;
    height: 100px;
    overflow: hidden;
}

.navigation-desktop__wrap {
    display: inline-block;
    height: 200px;
    position: relative;
    top: 30px;
    width: 100%;
    min-width: 225px;
    text-align: center;
}
.navigation-desktop__wrap--black {
    .navigation-desktop__link {
        color: $black_1;
        &:hover {
            box-shadow: 0px 1px 13px 2px $black_1;
            color: $white;
            background-color: rgba($black_1, 0.9);
        }
    }
    .is-active {
        border-bottom: 1px solid $black_1 !important;
    }
}

.navigation__link {
    color: $white;
    font-family: 'Advent Pro', sans;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.navigation-desktop__link {
    padding: 0px 10px;
    transition: all 0.4s ease-in-out;
    &:hover {
        box-shadow: 0px 1px 13px -4px $white;
    }
}

.navigation-desktop__link--animate {
    transform: translate(0, -300px);
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation: trans-txt 1.9s * $i*0.6 1 forwards cubic-bezier(0, 1, 0.8, 1);
        }
    }
}

.no-opacity {
    opacity: 0;
}

.navigation-mobile__link {
    width: 100%;
    margin-bottom: 20px;
    opacity: 0;
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation: opacity-txt 1.9s * $i*2 4s 1 forwards cubic-bezier(0, 1, 0.8, 1);
        }
    }
}

[class^="icon-"], [class*=" icon-"] {
    &:before {
        display: block;
        font-size: 24px;
    }
}

.content-button {
    width: 100%;
}

.is-active-mobile {
    .content-button {
        width: 100%;
        box-shadow: 3px 3px 2px -1px $red_dark;
    }
}

//animation keyframes
@keyframes  trans-txt {
    0% {
        transform: translate(0, -300px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
    
}

@keyframes  opacity-txt {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
    
}

