@import '../../../assets/style/_var';

.navigation {
    margin-top: 0;
    margin-right: 200px;
    height: 100px;
    overflow: hidden;
}

.navigation__wrap {
    display: inline-block;
    height: 200px;
    position: relative;
    top: 30px;
}
.navigation__wrap--black {
    .navigation__link {
        color: $black_1;
        &:hover {
            box-shadow: 0px 1px 13px -4px $black_1;
        }
    }
}
.navigation__link {
    color: $white;
    font-family: 'Advent Pro', sans;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    background: transparent;
    border: none;
    outline: none;
    padding: 0px 10px;
    cursor: pointer;
    transition: box-shadow 0.4s ease-in-out;
    transform: translate(0, -300px);
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation: trans-txt .9s * $i 2.9s 1 forwards cubic-bezier(0, 1, 0.8, 1);
        }
    }
    &:hover {
        box-shadow: 0px 1px 13px -4px $white;
    }
}

//animation keyframes
@keyframes  trans-txt {
    0% {
        transform: translate(0, -300px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
    
}