@import '../../assets/style/_var';
@import './home.component.responsive';


:host {
  position: fixed;
  width: inherit;
  height: inherit;
  display: block;
  overflow: hidden;
  background-color: $white;
}
.container {
  width: 100%;
  height: 100%;
}

.container-flex {
  position: absolute;
  top:0;
  width: auto;
  z-index: 10;
}


//header txt
.content-header-txt {
  width: 232px;
  position: absolute;
  z-index: 100;
}
.content-header-txt__inner {
  display: inline-block;
  color: $black_2;
  font-size: 20px;
  font-family: 'Advent Pro', sans;
  font-weight: 600;
  width: auto;
  padding: 30px 40px 0;
  margin: 0;
}
.content-header-txt__inner-about {
  display: inline-block;
  color: $black_2;
  font-size: 16px;
  font-family: 'Advent Pro', sans;
  font-weight: 300;
  width: 100%;
  padding: 0px 65px 0;
  margin: 0;
}
.content-header-txt__inner-animate {
  animation: color-txt 1s 1.9s 1 forwards;
}


//header
.about-txt {
    max-width: 100%;
    overflow: hidden;
}

.about-txt__inner {
    color: $white;
    width: 50%;
    margin-left: 19%;
    transform: translate(0, -150%);
    opacity: 0;
}

.about-txt__inner--animation {
  animation: content-txt 1.4s 2.5s 1 forwards cubic-bezier(0, 1, 0.8, 1);
}

.content-header {
  height: 60%;
  width: 100%;
  background-color: $black_2;
  z-index: 100;
  transform: translate(-250%, 0);
}

.content-animation {
  animation: content-black 3s 1 forwards cubic-bezier(0.4, 0, 0.2, 1);
}

//content bottom
.content-bottom {
  height: 40%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.content-image {
  width: 100%;
  height: 100%;  
}

.content-image__inner {
  width: auto;
  position: absolute;
  bottom: 0;
  right: 14%;
  max-height: 66vh;
  z-index: 1000;
}

.content-bottom-txt {
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin-top: 7%;
}

.bottom-txt {
  overflow: hidden;
  height: 50px;
  perspective: 200px;
}

.bottom-txt__inner {
  text-align: center;
  font-size: 35px;
  margin: 0 auto;
  opacity: 0;
  transform: translate(0, -250%) rotateX(-90deg);
}

.bottom-txt__inner--first {
  animation: content-txt-bottom 1.5s  4s 1 forwards cubic-bezier(0, 1, 0.8, 1);
}

.bottom-txt__inner--second {
  animation: content-txt-bottom 1.5s  5s 1 forwards cubic-bezier(0, 1, 0.8, 1);
}

//animation keyframes
@keyframes color-txt {
  0% {
      color: $black_2;
  }
  100% {
      color: $white;
  }
}
@keyframes content-black {
  0% {
      transform: translate(-250%, 0);
  }
  60% {
      transform: translate(-55%, 0);
  }
  70% {
      transform: translate(-29%, 0);
  }
  80% {
      transform: translate(-17%, 0);
  }
  90% {
      transform: translate(-11%, 0);
  }
  100% {
      transform: translate(0%, 0%);
  }
}

@keyframes content-txt {
  0% {
      transform: translate(0, -150%);
      opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes content-txt-bottom {
  0% {
      opacity: 0;
      transform: translate(0, -250%) rotateX(-90deg);
  }
  1% {
    transform: translate(0, -150%) rotateX(-90deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) rotateX(0deg);
  
  }
}

    