@import '../../assets/style/responsive/_responsive';

@media only screen and (max-width: 1075px)  {
    :host {
        .about-txt__inner {
            width: 70%;
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet-width) {
    :host {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        height: 100% !important;
        position: relative !important;
        .about-txt__inner {
            width: 83%;
            margin-left: 44px;
            margin-top: 99px;
            padding-right: 25%;
        }

        .content-image__inner {
            max-height: 100%;
            width: 100%;
            position: relative;
            top: calc(9vw - 20px);
            z-index: 1;
        }
        .content-header {
            height: auto;
        }

        .content-bottom {
            height: auto;
        }
        .content-bottom-txt {
            height: 100%;
            overflow: visible;
        }
        .bottom-txt {
            height: auto;
            overflow: visible;
        }
        .bottom-txt__inner {
            font-size: 26px;
        }
    }
}

@media only screen and (max-height: 629px) {
    :host {
        .about-txt__inner {
            width: 80%;
        }
    }
} 

@media only screen and (max-width: $breakpoint-mobile-width) {
    :host {
        .about-txt__inner--animation {
            animation: content-txt 1.4s 0.5s 1 forwards cubic-bezier(0, 1, 0.8, 1);
          }
    }
}