<div class="container" scroll-attr>
    <app-social-link></app-social-link>
    <div class="row">
        <app-progress-bar></app-progress-bar>
    </div>
    <div class="row">
        <app-nav></app-nav>
        <div class="container-skills">
            <div class="skills-txt on-scroll-text-white">
                <p class="skills-txt__inner">
                    My web development experience is 2 years. 
                    I have the knowledge and practical experience of HTML5 and the Jade, HandleBars re-processors.  
                    CSS3 and re-processors Sass (Scss), Styles and Less.  
                    And also I use Bootstrap, Semantic UI frameworks.  
                    The code is written according to the rules of BEM.  
                    Experience in designing design sites using such products from Adobe as: Photshop and Illustrator.  
                    Practical experience and application of various specialties using SVG image format.  
                    Javascrit (ES5, ES6, TypeScript) and the JQuery library.  
                    Build a project using Gulp or Webpack.  The Angular2 + framework.  
                    Writing a backend service using NodeJs as well as the Express framework.
                </p>
            </div>  
        </div>
    </div>
    <div class="skills-black-box">
        <div class="skills-blakc-box__inner"></div>
    </div> 
</div>
