<div class="progress-bar">
  <div class="progress progress-html"></div>
  <div class="progress-bar-skill">
      <div class="progress-bar-skill__inner">
        HTML5 
      </div>  
    </div>
</div>
<div class="progress-bar">
    <div class="progress progress-css"></div>
    <div class="progress-bar-skill">
        <div class="progress-bar-skill__inner">
         CSS3
        </div>  
      </div>
  </div>
  <div class="progress-bar">
      <div class="progress progress-js"></div>
      <div class="progress-bar-skill">
          <div class="progress-bar-skill__inner">
            JavaScript
        </div>  
      </div>
  </div>
<div class="progress-bar">
      <div class="progress progress-angular"></div>
      <div class="progress-bar-skill">
          <div class="progress-bar-skill__inner">
            Angular 2+
          </div>  
      </div>
</div>
<div class="progress-bar">
    <div class="progress progress-node"></div>
    <div class="progress-bar-skill">
        <div class="progress-bar-skill__inner">
          Node JS
        </div>  
    </div>
</div>
<div class="progress-bar">
    <div class="progress progress-photoshop"></div>
    <div class="progress-bar-skill">
        <div class="progress-bar-skill__inner">
          Photoshop
        </div>  
    </div>
</div>
<div class="progress-bar">
    <div class="progress progress-illustrator"></div>
    <div class="progress-bar-skill">
        <div class="progress-bar-skill__inner">
          Illustrator
        </div>  
    </div>
</div>